
*{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Inter', sans-serif;


}

.cabecalho
{
    background-color: #AAD268;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0;

}

.cabecalho-imagem
{   width: 10%;
    
}
.cabecalho-lista-item
{
    display: inline-block;
    margin: 0 16px;
    font-size: 17px ;
    
}

.Imagem-sobre
{
    width:15%;

}
.sobre
{
    background-image: linear-gradient(#AAD268,#DCEBC3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.sobre-div-conteudo
{
    width: 35%;

}
.titulo-sobre
{
    padding: 10px 0;

}
.livro-imagem
{
    width: 120px;

}
.livro-div
{
    text-align: center;

}